body {
    margin: 0;
    padding: 0;
  }
  
  header {
    background-image: url("https://s3.envato.com/files/239469349/IMG_2972-as-Smart-Object-1.jpg");
    margin: 0 auto;
    height: 50px;
  }
  
  header h2 {
    padding: 10px;
    margin: 0;
    text-align: center;
  }
  
  header h2:hover {
    scale: 1.5em;
    filter: drop-shadow(30px 10px 4px #4444dd);
    padding: 10px;
    margin: 0;
    text-align: center;
    animation-name: h2Hover; 
    animation-duration: 3s;
  }

  @keyframes h2Hover{
    from { scale: 1; background-image: url("https://s3.envato.com/files/239469349/IMG_2972-as-Smart-Object-1.jpg")}
    to { scale: 1.5; background-image: url("https://media.comicbook.com/2018/11/tmnt-1146082.jpeg")}
  }
  
  main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;
    padding-top: 10px;
    padding-bottom: 30px;
  }
  
  div.card {
    background-color: #eeeeee;
    height: auto;
    width: 300px;
    box-shadow: 10px 10px 5px 2px grey;
    box-shadow: 
    padding: 10px;
    border-radius: 10px;
    animation: cardHover 1s linear 0 infinite;
  }

  @keyframes cardHover{

  }

  img{
    display: flexbox;
    flex: center;
    height: 150px;
    width: 150px
  }
  
  p {
    font-size: 1.2em;
    color: black;
    font-family: Helvetica;
  }
  
  li {
    font-size: 1.05em;
    list-style: none;
    padding-right: 20px;
  }
  button.create {
    font-size: .85em;
    color: #fff;
    background-color: hotpink;
    align-self: center;
    border-radius: 10px;
  }
  button.edit {
    font-size: .65em;
    color: #fff;
    background-color: green;
    border-radius: 10px;
  }
  button.delete {
    font-size: .65em;
    color: #fff;
    background-color: red;
    border-radius: 10px;
  }
  
  .hidden {
    visibility: hidden;
    opacity: 0;
  }

  .visible {
    align-self: center;
    visibility: visible;
    background-color: #eeeeee52;
    height: 250px;
    width: 300px;
    box-shadow: 10px 10px grey;
    padding: 10px;
    border-radius: 10px;
  }

  button.release {
    float: right;
    background-color: #E1332D;
  }
  
  @media only screen and (min-width: 500px) {
    main {
      grid-template-columns: 1fr 1fr;
    }
  }
  
  @media only screen and (min-width: 850px) {
    main {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
  
  .wednesdayButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  letter-spacing: .08rem;
  margin: 3rem 2rem;
  overflow: hidden;
  padding: 1.5rem 3rem;
  position: relative;
  transition: all .4s;
  transition-timing-function: ease-in-out;
  text-transform: uppercase;
  
  &::before, &::after{
    content: "";
    position: absolute;
    transition: all .5s;
    width: 10%; height: 15%;
    z-index: -1;
  
  }
  
  &::before{ top: 0; left: 0; }
  
  &::after{ bottom: 0; right: 0; }

